<body>
    <main class="journalPage">
        <section class="sec1 side_p">
            <div class="sec1_wrap">
                <div class="left">
                    <div class="mainJ_wrap">
                        <div class="mainJ_1">
                            <div class="wrap">
                                <h2></h2>
                                <img src="img/main_J1.jpg" alt="" />
                            </div>
                        </div>
                        <div class="mainJ_2">
                            <div class="wrap">
                                <h2></h2>
                                <img src="img/main_J2.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="wrap">
                        <div class="top p50all">
                            <div class="title">
                                <h1>WOULD <span class="italic bold">YOU</span>&nbsp LIKE</h1>
                                <h1>JOURNALS?</h1>
                            </div>
                        </div>
                        <div class="middle p50all">
                            <h3 class="bold desktop">The MORE YOU KNOW</h3>
                        </div>
                        <div class="bottom p50all">
                            <h3 class="bold mobile">The MORE YOU KNOW,</h3>
                            <h3 class="bold">
                                MORE AMAZING<br />
                                MYSTERY OF THE UNIVERSE
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="ufo_banner right p50all desktop">
                    <h2>SHARE YOUR <span class="italic">UNIVERSE</span></h2>
                    <div class="img_wrap">
                        <img id="hand" src="img/hand.png" alt="" />
                        <img src="img/ufo.png" alt="" id="ufo" />
                    </div>
                    <h5 class="kr">
                        수습 기자단이 되어 여러분들의 우주를 공유해주세요!<br />
                        우주에 대한 지식을 나누고 싶으신 분들<br />글 쓰는 것을 좋아하시는 분들<br />
                        무엇보다 우주를 사랑하는 분들을 기다립니다.
                    </h5>
                    <div class="color_btn">
                        <p class="kr bold">수습기자단 신청하러 가기</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="ufo_banner mobile side_p">
            <div class="p50all">
                <h2>SHARE YOUR <span class="italic">UNIVERSE</span></h2>
                <div class="img_wrap">
                    <img id="hand" src="img/hand.png" alt="" />
                    <img src="img/ufo.png" alt="" id="ufo" />
                </div>
                <h5 class="kr">
                    수습 기자단이 되어 여러분들의 우주를 공유해주세요!<br />
                    우주에 대한 지식을 나누고 싶으신 분들<br />글 쓰는 것을 좋아하시는 분들<br />
                    무엇보다 우주를 사랑하는 분들을 기다립니다.
                </h5>
                <div class="color_btn">
                    <p class="kr bold">수습기자단 신청하러 가기</p>
                </div>
            </div>
        </div>
        <section class="sec2 bottom_p">
            <div class="j_title side_p">
                <h2 class="bold p50"><span class="italic">LATEST</span> JOURNALS</h2>
            </div>
            <div class="side_p">
                <div class="journals_wrap p50all">
                    <% for(i=0; i<6; i++){%>
                    <div href="" onclick="javascript:location.href='/journalDetail?num=<%= rows[i].num %>'" class="journal_j">
                        <h5 class="inner_p"><%= rows[i].category %></h5>
                        <h4 class="inner_p"><%= rows[i].title %></h4>
                        <div class="j_prefer inner_p">
                            <span class="viewImg"><img class="empty" src="img/view.png" alt="" /></span>
                            <span class="viewCount">0</span>
                            <span class="heartImg"><img src="img/heart.png" alt="" /></span>
                            <span class="heartCount">0</span>
                        </div>
                        <div class="j_text inner_p">
                            <p><%= rows[i].subtitle %></p>
                        </div>
                        <div class="j_content">
                            <div class="j_img"><img src="<%= rows[i].img %>" alt="" /></div>
                            <div class="j_r">
                                <div></div>
                                <div class="hashtag"><span><%= rows[i].hashtag %></span></div>
                            </div>
                        </div>
                    </div>
                    <% }; %>
                </div>
            </div>
        </section>

        <section class="sec3 bottom_p">
            <div class="j_title side_p j_t_2">
                <h2 class="p50 bold">JOURNALS</h2>
                <div class="p50 filter">
                    <div>ALL<span></span></div>
                    <div>LATEST<span></span></div>
                </div>
            </div>
            <div class="side_p">
                <div class="journals_wrap p50all">
                    <% for(i=0; i<15; i++){%>
                    <div href="" onclick="javascript:location.href='/journalDetail?num=<%= rows[i].num %>'" class="journal_j">
                        <h5 class="inner_p"><%= rows[i].category %></h5>
                        <h4 class="inner_p"><%= rows[i].title %></h4>
                        <div class="j_prefer inner_p">
                            <span class="viewImg"><img class="empty" src="img/view.png" alt="" /></span>
                            <span class="viewCount">0</span>
                            <span class="heartImg"><img src="img/heart.png" alt="" /></span>
                            <span class="heartCount">0</span>
                        </div>
                        <div class="j_text inner_p">
                            <p><%= rows[i].subtitle %></p>
                        </div>
                        <div class="j_content">
                            <div class="j_img"><img src="<%= rows[i].img %>" alt="" /></div>
                            <div class="j_r">
                                <div></div>
                                <div class="hashtag"><span><%= rows[i].hashtag %></span></div>
                            </div>
                        </div>
                    </div>
                    <% }; %>
                </div>
            </div>
        </section>
    </main>
</body>
<script>
    let journal = document.querySelectorAll(".journal_j");
    for (let i = 0; i < journal.length; i++) {
        journal[i].addEventListener("click", (e) => {
            let tar = e.currentTarget;
            let view = tar.querySelectorAll(".viewCount"); //tar의 하위요소
            let viewCount = view[0].innerText;
            viewCount = parseInt(viewCount) + 1;
            view[0].innerText = viewCount;
        });
    }
    let heartImg = document.querySelectorAll(".heartImg>img");
    for (let i = 0; i < heartImg.length; i++) {
        heartImg[i].addEventListener("click", (e) => {
            e.currentTarget.src = "img/heart_fill.png";
            let heart = e.currentTarget.parentNode.nextSibling.nextSibling;
            let heartCount = heart.innerText;
            heartCount = parseInt(heartCount) + 1;
            heart.innerText = heartCount;
        });
    }
</script>
