<body>
    <main class="main">
        <section class="sec1 side_p">
            <div class="sec1_wrap"></div>
        </section>
        <section class="sec2 bottom_p">
            <div class="j_title">
                <h2>BEST JOURNALS</h2>
                <span></span>
                <h2>BY CATEGORIES</h2>
            </div>
            <div class="side_p">
                <div class="journals_wrap">
                    <% for(i=0; i<6; i++){%>
                    <div href="" onclick="javascript:location.href='/journalDetail?num=<%= rows[i].num %>'">
                        <h5 class="inner_p"><%= rows[i].category %></h5>
                        <h4 class="inner_p"><%= rows[i].title %></h4>
                        <div class="j_prefer inner_p"><span class="view">203</span><span class="like">122</span></div>
                        <div class="j_text inner_p">
                            <p><%= rows[i].subtitle %></p>
                        </div>
                        <div class="j_content">
                            <div class="j_img"><img src="<%= rows[i].img %>" alt="" /></div>
                            <div class="j_r">
                                <div></div>
                                <div class="hashtag"><span><%= rows[i].hashtag %></span></div>
                            </div>
                        </div>
                    </div>
                    <% }; %>
                </div>
            </div>
        </section>

        <section class="sec3 bottom_p">
            <div class="j_title">
                <h2>LATEST JOURNALS</h2>
            </div>
            <div class="side_p">
                <div class="journals_wrap">
                    <% for(i=6; i<12; i++){%>
                    <div href="" onclick="javascript:location.href='/journalDetail?num=<%= rows[i].num %>'">
                        <h5 class="inner_p"><%= rows[i].category %></h5>
                        <h4 class="inner_p"><%= rows[i].title %></h4>
                        <div class="j_prefer inner_p"><span class="view">203</span><span class="like">122</span></div>
                        <div class="j_text inner_p">
                            <p><%= rows[i].subtitle %></p>
                        </div>
                        <div class="j_content">
                            <div class="j_img"><img src="<%= rows[i].img %>" alt="" /></div>
                            <div class="j_r">
                                <div></div>
                                <div class="hashtag"><span><%= rows[i].hashtag %></span></div>
                            </div>
                        </div>
                    </div>
                    <% }; %>
                </div>
            </div>
        </section>
    </main>
</body>
<script src="JS/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<!-- <script>
    var swiper = new Swiper(".apod_img", {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
    });
</script> -->
